#app-modal {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .ui--modal {
    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: hsla(235, 66%, 30%, 0.5);
    }

    &-container {
      position: relative;
      width: 50vw;
      height: 100%;
      padding: 0 40px;
      margin: 0 0 0 auto;
      background-color: var(--text-color);
    }

    &-header {
      min-height: 70px;

      &-title {
        margin-left: 50px;
        font-size: 20px;
        font-weight: 100;
        line-height: 50px;
        text-transform: uppercase;
        color: var(--info-color);
      }
    }

    &-close {
      position: absolute;
      cursor: pointer;
      width: 50px;
      font-size: 40px;
      line-height: 50px;
      &:hover { color: var(--error-color) }
    }
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  &.ui--modal {
    &-enter-active,
    &-leave-active {
      transition: all .4s ease;

      .ui--modal-container { transition: all .2s }
    }

    &-enter-to,
    &-leave {
      opacity: 1;
    }

    &-enter {
      opacity: 0;

      .ui--modal-container {
        transform: translateX(20px)
      }
    }

    &-leave-to {
      opacity: 0;

      .ui--modal-container {
        transform: translateX(-20px)
      }
    }
  }
}