#ui--number {
  position: relative;

  &-label {
    text-transform: capitalize;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);

    &.required::after {
      content: ' *';
      color: var(--error-color);
    }
  }

  &-container {
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    margin: 2px 0 0;
    line-height: 28px;
    
    input {
      color: var(--dark-color);
      text-align: center;
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-600);
      background-color: var(--base-color);
      border-radius: var(--border-radius-small);
    }

    &:hover {
      box-shadow: 0 0 0 1px var(--border-force-color);
    }
  }

  &-button {
    cursor: pointer;
    text-align: center;
    line-height: 28px;
    font-size: var(--font-size-x16);
    font-weight: var(--font-weight-600);
    color: var(--dark-color);
    background-color: var(--deep-force-color);
  }
}