@import "../../assets/style/lib/mixins.scss";

#app-main {
  position: relative;
  padding: 20px 15px;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 3fr var(--screen-xs) 3fr;

  .ui--container {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--text-color);

    .ui--col {
      display: grid;
      grid-gap: 10px 20px;
      margin: 10px 0 0;

      &-x1 { grid-template-columns: repeat(1, 1fr) }
      &-x2 { grid-template-columns: repeat(2, 1fr) }
    }
  }

  .ui--comp {
    &-transport {

      .ui- {
        &-block {
          padding: 10px 0 0;
          border-bottom: solid 1px var(--deep-color);
          &:last-child { border: unset }
        }

        &-head {
          display: grid;
          grid-template-columns: 1fr auto;
          padding: 0 0 10px;

          span {
            font-weight: var(--font-weight-600);
          }
        }

        &-body {
          padding: 0 0 15px;

          .ui--container:first-child { margin: 0 }
        }
      }
    }
  }
}

.ui--main {
  &-left {
    text-align: right;
    .ui--main-container-sticky { margin: 0 0 0 auto }
  }

  &-center {
    display: grid;
    grid-row-gap: 20px;
  }

  &-container-sticky {
    position: sticky;
    top: 70px;
    display: grid;
    grid-row-gap: 40px;
    max-width: 380px;
  }

  &-menu {
    display: grid;
    grid-row-gap: 5px;
    grid-auto-flow: row;
    justify-content: end;

    &-link {
      display: grid;
      grid-template-columns: 25px 1fr;

      padding: 6px 10px;
      min-width: 200px;
      text-align: left;

      // color: var(--info-color);
      background-color: var(--text-color);
      border-radius: var(--border-radius-base);

      i {
        font-size: var(--font-size-x18);
        align-self: center;
      }

      span {
        @include ellipsis();
      }

      &:hover {
        color: var(--light-color);
        background-color: var(--info-color);
      }
    }
  }

  &-record {
    display: grid;
    grid-row-gap: 15px;
    
    &-list {
      i {
        width: 20px;
      }

      span {
        text-transform: capitalize;
      }

      strong {
        text-transform: capitalize;
        color: var(--primary-color);
      }

      h5 {
        font-size: var(--font-size-x10);
      }
    }
  }
}